tensorflow>=2.8.0
numpy>=1.21.0
pandas>=1.3.0
scikit-learn>=1.0.2
pyyaml>=5.4.1
# Data processing
pyarrow>=7.0.0
fastparquet>=0.8.1
category_encoders>=2.5.0
# Attack simulation
docker>=6.0.0
kubernetes>=23.6.0
locust>=2.8.6